* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.carousel {
  display: flex;
  overflow: hidden;
  width: 100%;
  position: relative;
}

.slides {
  position: relative;
  width: 100%;
  margin: 0 auto;
  transition: 1s;
}

.slides .slide {
  width: 100%;
  height: 100%;
  position: absolute;
  color: black;
  overflow: auto;
}

.slides img {
  max-width: 100%;
}
.carousel .next,
.carousel .previous {
  pointer-events: none;
}
.carousel .next,
.carousel .previous,
.carousel .indicators {
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  user-select: none;
}
.carousel .horizontal {
  height: 100%;
}
.carousel .horizontal.previous {
  left: 0;
}
.carousel .horizontal.next {
  right: 0;
}
.carousel .arrow {
  pointer-events: all;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background-color: #ffffff;
  box-shadow: 0px 0 6px 2px #cccccc;
  background: url("chevron.svg");
}
.carousel .horizontal.previous .arrow {
  transform: rotate(180deg);
}
.carousel .vertical.previous .arrow {
  transform: rotate(-90deg);
}
.carousel .vertical.next .arrow {
  transform: rotate(90deg);
}

.carousel .vertical {
  width: 100%;
}
.carousel .vertical.previous {
  top: 0;
}
.carousel .vertical.next {
  bottom: 0;
}

.carousel .vertical-indicator.indicators {
  right: 0;
  flex-direction: column;
  height: 100%;
}
.carousel .indicators.horizontal-indicator {
  width: 100%;
  bottom: 0;
}
.carousel .indicators .item {
  position: relative;
  border-radius: 100%;
  width: 10px;
  height: 10px;
  background: white;
  border: 2px solid grey;
  margin: 2px;
  cursor: pointer;
}

.carousel .indicators .item:hover {
  transform: scale(1.3);
}

.carousel .indicators .item.active {
  background-color: red;
}
