.draw-tool-bar {
  grid-column: -4 / -1;
  grid-template-rows: repeat(5, 1fr);
}
.draw-tool-bar > .logo {
  justify-self: center;
}
.draw-tool-bar > .logo > svg {
  width: 10vh;
}
.draw-tool-bar .group label {
  align-self: flex-start;
}
@media (max-width: 700px) {
  .draw-tool-bar {
    grid-row: 4;
    grid-column: 1/-1;
    min-height: 40vh;
  }
}
