.drawboard {
  display: flex;
  background-color: white;
  grid-column: 1/-4;
  grid-row: 2/2;
  border-radius: 10px;
  padding: 10px;
  position: relative;
}

.drawboard > svg {
  width: 100%;
  max-height: 90vh;
}

.drawboard > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
}
.drawboard > div > img {
  animation: spin 1s ease alternate infinite;
  width: 10vh;
  height: 10vh;
  background: black;
  border-radius: 10px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 700px) {
  .drawboard {
    grid-column: 1/-1;
    min-height: 50vh;
  }
}
