.section,p {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
}
.section p img {
  float: left;
  max-width: 150px;
  margin: 10px;
  font: inherit;
}
.section p::after {
  content: "";
  clear: both;
  display: table;
}
article {
  padding: 10px;
}

.section {
  max-width: 800px;
  margin: 0 auto;
}

.section .list {
  font-family: 'Poppins', sans-serif;
  margin: 10px 0;
  counter-reset: list;
}
.section .list .item {
  font: inherit;
  margin-top: 10px;
}

.section .list .item::before {
    counter-increment: list;

    content: counter(list) ".  ";

}
.section a {
    font-family: inherit;
    text-decoration: underline;
    color: #0074ad;
}

.section section {
    margin: 20px 0;
}