.menu {
  display: flex;
  grid-column: 1 / -1;
  background-color: blue;
  color: black;
  background: rgb(248, 249, 250);
 overflow: auto; 
 border-radius: 10px;
}

.menu > .item {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}
.menu > .item.active {
  border-bottom-color: red;
}

.menu > .item:hover {
  border-bottom-color: red;
}
